#titleContainer {
  height: 500px;
}

.navbar-fixed-top > a {
  color: #FFF;
}

#mainContainer {
  background-image: url(https://github.com/ChrisConnell1/ChrisConnell1.github.io/blob/master/img/Portland.jpg);
  opacity: .85;
}

.card-deck > card > card-img-top {
  width: 300px;
  height: 221px;
}

.nameClass {
  font-size: 48px;
}

#aboutMe{
  color: #000;
}

#circle {
  background-size: cover;
  border-radius:50% 50% 50% 50%;
  width:150px;
  height:150px;
}

#skills {
  background-color:  #f5f5f0;
}

#projects {
  background-color: #f5f5f0;
}

.skillsHeadtext {
  font-size: 48px;
}

h4 {
  text-decoration-line: underline;
}
