#html:hover{
	background-color: #407fe5;
}

#css:hover{
	background-color: #407fe5;
}

#boot:hover{
	background-color: #407fe5;
}

#server:hover{
	background-color: #407ef5;
}

#buff:hover{
	color: #407fe5;
	font-weight: bold;
	cursor: pointer;
}

#data:hover{
	color: #407fe5;
	font-weight: bold;
	cursor: pointer;
}
	
#collab:hover{
	color: #407fe5;
	font-weight: bold;
	cursor: pointer;
}

#undertext {
   opacity: .5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

#undertext:hover {
   opacity: 1;
  }

